#[abrir chrome]:[abrindo krome]=>[%chrome.exe]
#[finalizar chrome]:[finalizando krome]=>[&chrome.exe]
#[que horas são]:[$hora]=>[]
#[sistema operacional]:[$sistema]=>[]
#[eva]:[pois não]=>[]
#[versão]:[$versao]=>[]
#[que dia é hoje]:[$data]=>[]
#[abrir excel]:[abrindo ekcel]=>[%excel.exe]
#[finalizar excel]:[finalizando ekcel]=>[&excel.exe]
#[abrir word]:[abrindo word]=>[%winword.exe]
#[finalizar word]:[finalizando word]=>[&winword.exe]
#[abrir illustrator]:[abrindo illustrator]=>[%illustrator.exe]
#[finalizar illustrator]:[finalizando illustrator]=>[&illustrator.exe]
#[abrir prompt]:[abrindo prompt de comando]=>[%cmd.exe]
#[finalizar prompt]:[finalizando prompt]=>[&cmd.exe]
#[sair]:[finalizando sistema de voz]=>[$exit]